extends ../layout

block content
  .container
    h1.page-header 게시물 정보
          
    ul
      li 글 제목: #{post.title}
      li 내용: #{post.body}

    hr
    p
      a.btn.btn-default(href='/posts/') 게시글 목록
      | 
      a.btn.btn-default(href='/posts/#{post._id}/edit') 게시글 수정
      | 
      a.btn.btn-default(href='/posts/#{post._id}?_method=DELETE') 게시글 삭제