extends ../layout

block hero-unit
  .jumbotron
    .container
      p #{currentUser.name}님 안녕하세요! 호스트가 될 준비를 시작해보세요.
    
block content
  .container
    .row
      .col-md-6
        h1 123
      .col-md-6
        img#host(src="/images/host.jpg")
      